<div class="pageTitle">
  <h1>UserInfos</h1>
</div>


<div class="content">
  <ul>
        <li>
          <div class="itemLabel">User</div>
          <div class="itemValue">Mario_B</div>
        </li>

        <li>
          <div class="itemLabel">Karma</div>
          <div class="itemValue">500</div>
        </li>

  </ul>
  <div class="storiesTitle">User Stories:</div>
  <ul class="stories">
         <%# @user_info.stories.each do |story| %>

        <li>
          <a class="title" href="#">Story1</a>
        </li>
         <li>
          <a class="title" href="#">Story2</a>
        </li>
         <li>
          <a class="title" href="#">Story3</a>
        </li>
       <%# end %>
  </ul>
</div>