<div class="pageTitle">
  <h1>WhatsHot</h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= Rho::RhoConfig.start_path %>">Home</a>
  </div>
  <div class="leftItem regularButton">
    <a href="">Upvote</a>
	<a href="">Downvote</a>
  </div>
  <div class="leftItem regularButton">
    <a href="">Comment</a>
  </div>
</div>

<div class="content">
  <ul>
    <li>
	<img src="http://www.reddit.com/static/noimage.png" />
	<p>Story name! This is the space for the story name!</p>
	<p>this is the whole story, In case the user submited a wall of text instead or an image. this is the body</p>
	<span>by: Davo_or_any_other_user</span>
	<span>date submited: today </span>
	<span>Upvotes: 100</span><span>downvotes: 0</span>
	<lu>
		<li> 
			<span>This is a comment! or maybe not :p</span>
			<span> by: Davo_or_any_other_user </span>
			<span> submited on: Thursday </span>
		</li>
		<li> 
			<span>This is a comment! or maybe not :p</span>
			<span> by: Davo_or_any_other_user </span>
			<span> submited on: Thursday </span>
		</li>
	</lu>
	</li>
  </ul>
</div>